.mobMenu {
  display: block;
  position: fixed;
  top: -330px;
  z-index: 9899;
  width: 100%;
  height: 310px;
  color: white;
  background-color: rgba(7, 5, 4, 0.9);
  transition: 1000ms;

}
.mobMenu ul {
  margin-top: 80px;
}
.mobMenu ul li {
  display: block;
  line-height: 50px;
  font-size: 18px;
}
.mobMenu_active {
  top: 0px;
}
.mobMenu a {
  position: relative;
  color: white;
}
.mobMenu a::before {
  content: '';
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: 200ms; 
  transform: scaleX(0);
}
.mobMenu a:hover:before {
  transform: scaleX(1);
}