.calc {
    display: grid;
    grid-area: calc;
    justify-items: center;
    width: 100%;
    background: url(calc.jpg) center no-repeat;
    background-size: cover;
    color: white;
}
.calc span.bold {
    font-weight: 700;
}
