.comments {
    display: grid;
    padding: 20px;
}
.comments__block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.comments__btns {
    justify-self: center;
    display: grid;
    grid-template-columns: max-content;
    font-size: 12px;
    font-weight: 700;
}
.comments__btn {
    cursor: pointer;
    margin-top: 5px;
}
