.how {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: max-content 1fr;
    width: 1200px;
    
}
.how__numbers {
    padding-top: 5px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    background-color: bisque;
    border-radius: 50%;
}
.how__text {
    text-align: left;
}
.how__text a {
    color: black;
    font-weight: 700;
}
.how__btns {
    justify-self: center;
}
.how__btn {
    width: 280px;
    margin-top: 10px;
}

@media (max-width: 1300px) {
    .how {
        width: 90%;
    }
}
@media (max-width: 479px) {
    .how {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .how__text {
        text-align: center;
    }
}