.calc_main {
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-template-rows: 1fr;
    grid-gap: 1px;
    margin: 20px auto;
}
@media (max-width: 991px) {
    .calc_main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content;
    }
}
