.comment {
    display: grid;
    grid-template-areas: 
    "comment__img comment__h3"
    "comment__img comment__comment"
    "comment__img .";

    grid-gap: 10px;
    padding: 10px;
    text-align: start;
    border: 1px solid black;
}
.comment__img {
    grid-area: comment__img;
}
.comment__h3 {
    grid-area: comment__h3;
}
.comment__socnet {
    grid-area: comment__socnet;
}
.comment__comment {
    grid-area: comment__comment;
}

@media (max-width: 479px) {
    .comment {
        grid-template-areas: 
        "comment__img"
        "comment__h3"
        "comment__comment"
        ".";
        justify-items: center;
        text-align: center; 
    }
}