.serts {
    display: grid;
    overflow-x: hidden;
}
.serts__btns {
    display: grid;
    justify-self: center;
    grid-template-columns: max-content max-content;
    grid-gap: 1px;
    margin-top: 20px;
}
.serts__btn {
    width: 80px;
    line-height: 25px;
    font-size: 20px;
    border: 1px solid black;
    outline: none;
    border-radius:  0 7px 7px 0;
    padding-top: 1px; 
    background: none;
}
.serts__prev-btn {
    transform: rotateZ(180deg);
}
